html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  /* Include common styles */
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1.12rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.75rem;
}
