/* Green */
/* Grey */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
/*******************************************************************************
OMCSS Helper Classes - OMCSS Framework
*******************************************************************************/
/* ==========================================================================
   Layout
   ========================================================================== */
/**
* Display
*/
.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.hide {
  display: none; }

/**
* Floats
*/
.float-right {
  float: right; }

.float-left {
  float: left; }

.float-none {
  float: none; }

.clearfix {
  overflow: auto; }
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

/**
* Overflow
*/
.overflow-auto {
  overflow: auto; }

.overflow-hidden {
  overflow: hidden; }

.overflow-visible {
  overflow: visible; }

.overflow-scroll {
  overflow: scroll; }

/**
* Positions
*/
.static {
  position: static; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.sticky {
  position: sticky; }

/**
* Visibility
*/
.visible {
  visibility: visible; }

.invisible {
  visibility: hidden; }

/* Display - Flexbox
   ========================================================================== */
/**
* Flex Direction
*/
.flex {
  display: -ms-flexbox !important;
  display: flex !important; }

.flex-inline {
  display: inline-flex; }

.flex-row {
  flex-direction: row; }

.flex-row-reverse {
  flex-direction: row-reverse; }

.flex-col {
  flex-direction: column; }

.flex-col-reverse {
  flex-direction: column-reverse; }

/**
* Flex Wrapping
*/
.flex-no-wrap {
  flex-wrap: nowrap;
  flex-wrap: no; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

/**
* Flex Align Items
*/
.flex-align-items-stretch {
  align-items: stretch; }

.flex-align-items-start {
  align-items: flex-start; }

.flex-align-items-center {
  align-items: center; }

.flex-align-items-end {
  align-items: flex-end; }

.flex-align-items-baseline {
  align-items: baseline; }

/**
* Flex Justify Content
*/
.flex-justify-content-start {
  justify-content: flex-start; }

.flex-justify-content-center {
  justify-content: center; }

.flex-justify-content-end {
  justify-content: flex-end; }

.flex-justify-content-between {
  justify-content: space-between; }

.flex-justify-content-around {
  justify-content: space-around; }

/**
* Flex Align Content
*/
.flex-align-content-start {
  align-content: flex-start; }

.flex-align-content-center {
  align-content: center; }

.flex-align-content-end {
  align-content: flex-end; }

.flex-align-content-between {
  align-content: space-between; }

.flex-align-content-around {
  align-content: space-around; }

/**
* Flex Align Self
*/
.flex-align-self-auto {
  align-self: auto; }

.flex-align-self-start {
  align-self: flex-start; }

.flex-align-self-center {
  align-self: center; }

.flex-align-self-end {
  align-self: flex-end; }

.flex-align-self-stretch {
  align-self: stretch; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
* Color
*/
.txt-white {
  color: #FFF; }

.txt-black {
  color: #000; }

.txt-green-base {
  color: #38c172; }

.txt-grey-darkest {
  color: #555555; }

.txt-grey-darker {
  color: #7A7A7A; }

/**
* Text Alignment
*/
.txt-left-align {
  text-align: left; }

.txt-right-align {
  text-align: right; }

.txt-center-align {
  text-align: center; }

.txt-justify {
  text-align: justify; }

/**
* Style & Decoration
*/
.italic {
  font-style: italic; }

.normal {
  font-style: normal; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.underline {
  text-decoration: underline; }

.line-through {
  text-decoration: line-through; }

.no-underline {
  text-decoration: none; }

/**
* Font Weight
*/
.font-hairline {
  font-weight: 100; }

.font-thin {
  font-weight: 200; }

.font-light {
  font-weight: 300; }

.font-normal {
  font-weight: 400; }

.font-medium {
  font-weight: 500; }

.font-semibold {
  font-weight: 600; }

.font-bold {
  font-weight: 700; }

.font-extrabold {
  font-weight: 800; }

/**
* Font Size
*/
.txt-xxs {
  font-size: 1rem; }

.txt-xs {
  font-size: 1.2rem; }

.txt-sm {
  font-size: 1.4rem; }

.txt-base {
  font-size: 1.6rem; }

.txt-lg {
  font-size: 1.8rem; }

.txt-xl {
  font-size: 2rem; }

.txt-xxl {
  font-size: 2.8rem; }

/**
* Line Height
*/
.lh-none {
  line-height: 1; }

.lh-tight {
  line-height: 1.25; }

.lh-normal {
  line-height: 1.5; }

.lh-loose {
  line-height: 2; }

/**
* Lists
*/
.list-reset {
  list-style: none;
  padding: 0; }

/* ==========================================================================
   Sizing
   ========================================================================== */
/**
* Width
*/
.w-screen {
  width: 100vw; }

.w-full {
  width: 100%; }

.w-half {
  width: 50%; }

.w-auto {
  width: auto; }

/**
* Height
*/
.h-screen {
  height: 100vh; }

.h-full {
  height: 100%; }

.height-auto {
  height: auto; }

/* ==========================================================================
   Margin & Padding
   ========================================================================== */
/**
* Margin
*/
.m0 {
  margin: 0; }

.mt0 {
  margin-top: 0; }

.mr0 {
  margin-right: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.mx0 {
  margin-left: 0;
  margin-right: 0; }

.my0 {
  margin-top: 0;
  margin-bottom: 0; }

.m1 {
  margin: 0.5rem; }

.mt1 {
  margin-top: 0.5rem; }

.mr1 {
  margin-right: 0.5rem; }

.mb1 {
  margin-bottom: 0.5rem; }

.ml1 {
  margin-left: 0.5rem; }

.mx1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.my1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m2 {
  margin: 1rem; }

.mt2 {
  margin-top: 1rem; }

.mr2 {
  margin-right: 1rem; }

.mb2 {
  margin-bottom: 1rem; }

.ml2 {
  margin-left: 1rem; }

.mx2 {
  margin-left: 1rem;
  margin-right: 1rem; }

.my2 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m3 {
  margin: 1.5rem; }

.mt3 {
  margin-top: 1.5rem; }

.mr3 {
  margin-right: 1.5rem; }

.mb3 {
  margin-bottom: 1.5rem; }

.ml3 {
  margin-left: 1.5rem; }

.mx3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.my3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m4 {
  margin: 2rem; }

.mt4 {
  margin-top: 2rem; }

.mr4 {
  margin-right: 2rem; }

.mb4 {
  margin-bottom: 2rem; }

.ml4 {
  margin-left: 2rem; }

.mx4 {
  margin-left: 2rem;
  margin-right: 2rem; }

.my4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m5 {
  margin: 2.5rem; }

.mt5 {
  margin-top: 2.5rem; }

.mr5 {
  margin-right: 2.5rem; }

.mb5 {
  margin-bottom: 2.5rem; }

.ml5 {
  margin-left: 2.5rem; }

.mx5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.my5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

/**
* Padding
*/
.p0 {
  padding: 0; }

.pt0 {
  padding-top: 0; }

.pr0 {
  padding-right: 0; }

.pb0 {
  padding-bottom: 0; }

.pl0 {
  padding-left: 0; }

.px0 {
  padding-left: 0;
  padding-right: 0; }

.py0 {
  padding-top: 0;
  padding-bottom: 0; }

.p1 {
  padding: 0.5rem; }

.pt1 {
  padding-top: 0.5rem; }

.pr1 {
  padding-right: 0.5rem; }

.pb1 {
  padding-bottom: 0.5rem; }

.pl1 {
  padding-left: 0.5rem; }

.px1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.py1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p2 {
  padding: 1rem; }

.pt2 {
  padding-top: 1rem; }

.pr2 {
  padding-right: 1rem; }

.pb2 {
  padding-bottom: 1rem; }

.pl2 {
  padding-left: 1rem; }

.px2 {
  padding-left: 1rem;
  padding-right: 1rem; }

.py2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p3 {
  padding: 1.5rem; }

.pt3 {
  padding-top: 1.5rem; }

.pr3 {
  padding-right: 1.5rem; }

.pb3 {
  padding-bottom: 1.5rem; }

.pl3 {
  padding-left: 1.5rem; }

.px3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.py3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p4 {
  padding: 2rem; }

.pt4 {
  padding-top: 2rem; }

.pr4 {
  padding-right: 2rem; }

.pb4 {
  padding-bottom: 2rem; }

.pl4 {
  padding-left: 2rem; }

.px4 {
  padding-left: 2rem;
  padding-right: 2rem; }

.py4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p5 {
  padding: 2.5rem; }

.pt5 {
  padding-top: 2.5rem; }

.pr5 {
  padding-right: 2.5rem; }

.pb5 {
  padding-bottom: 2.5rem; }

.pl5 {
  padding-left: 2.5rem; }

.px5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.py5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/**
* Small Devices Only
*/
@media (min-width: 600px) {
  .sm-only {
    display: none !important; } }
@media (min-width: 1024px) {
  .sm-only {
    display: none !important; } }

/**
* Medium Devices Only
*/
@media (max-width: 599px) {
  .md-only {
    display: none !important; } }
@media (min-width: 1024px) {
  .md-only {
    display: none !important; } }

/**
* Large Devices Only
*/
@media (max-width: 599px) {
  .lg-only {
    display: none !important; } }
@media (min-width: 600px) and (max-width: 1023px) {
  .lg-only {
    display: none !important; } }

/* Media Queries - Hidden
   ========================================================================== */
@media (max-width: 599px) {
  .sm-hide {
    display: none !important; } }

@media (min-width: 600px) and (max-width: 1023px) {
  .md-hide {
    display: none !important; } }

@media (min-width: 1024px) {
  .lg-hide {
    display: none !important; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%; }

body {
  line-height: 1;
  min-width: 320px;
  overflow: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  /* Include common styles */ }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1.12rem; }

h5 {
  font-size: 0.83rem; }

h6 {
  font-size: 0.75rem; }

/* NOTE: OMCSS adapts Bootstrap 4.1.0 Grid with some modifications */
/*!
 * Bootstrap Grid v4.1.0 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@-ms-viewport {
  width: device-width; }
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*, *::before, *::after {
  box-sizing: inherit; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 600px) {
  .container {
    width: 85%; } }
@media (min-width: 1024px) {
  .container {
    width: 75%; } }
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col, .no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  -ms-flex-order: -1;
  order: -1; }

.order-last {
  -ms-flex-order: 13;
  order: 13; }

.order-0 {
  -ms-flex-order: 0;
  order: 0; }

.order-1 {
  -ms-flex-order: 1;
  order: 1; }

.order-2 {
  -ms-flex-order: 2;
  order: 2; }

.order-3 {
  -ms-flex-order: 3;
  order: 3; }

.order-4 {
  -ms-flex-order: 4;
  order: 4; }

.order-5 {
  -ms-flex-order: 5;
  order: 5; }

.order-6 {
  -ms-flex-order: 6;
  order: 6; }

.order-7 {
  -ms-flex-order: 7;
  order: 7; }

.order-8 {
  -ms-flex-order: 8;
  order: 8; }

.order-9 {
  -ms-flex-order: 9;
  order: 9; }

.order-10 {
  -ms-flex-order: 10;
  order: 10; }

.order-11 {
  -ms-flex-order: 11;
  order: 11; }

.order-12 {
  -ms-flex-order: 12;
  order: 12; }

.offset-1 {
  margin-left: 8.333333%; }

.offset-2 {
  margin-left: 16.666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.333333%; }

.offset-5 {
  margin-left: 41.666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.333333%; }

.offset-8 {
  margin-left: 66.666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.333333%; }

.offset-11 {
  margin-left: 91.666667%; }

@media (min-width: 600px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .order-md-first {
    -ms-flex-order: -1;
    order: -1; }

  .order-md-last {
    -ms-flex-order: 13;
    order: 13; }

  .order-md-0 {
    -ms-flex-order: 0;
    order: 0; }

  .order-md-1 {
    -ms-flex-order: 1;
    order: 1; }

  .order-md-2 {
    -ms-flex-order: 2;
    order: 2; }

  .order-md-3 {
    -ms-flex-order: 3;
    order: 3; }

  .order-md-4 {
    -ms-flex-order: 4;
    order: 4; }

  .order-md-5 {
    -ms-flex-order: 5;
    order: 5; }

  .order-md-6 {
    -ms-flex-order: 6;
    order: 6; }

  .order-md-7 {
    -ms-flex-order: 7;
    order: 7; }

  .order-md-8 {
    -ms-flex-order: 8;
    order: 8; }

  .order-md-9 {
    -ms-flex-order: 9;
    order: 9; }

  .order-md-10 {
    -ms-flex-order: 10;
    order: 10; }

  .order-md-11 {
    -ms-flex-order: 11;
    order: 11; }

  .order-md-12 {
    -ms-flex-order: 12;
    order: 12; }

  .offset-md-0 {
    margin-left: 0; }

  .offset-md-1 {
    margin-left: 8.333333%; }

  .offset-md-2 {
    margin-left: 16.666667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .offset-md-4 {
    margin-left: 33.333333%; }

  .offset-md-5 {
    margin-left: 41.666667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .offset-md-7 {
    margin-left: 58.333333%; }

  .offset-md-8 {
    margin-left: 66.666667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .offset-md-10 {
    margin-left: 83.333333%; }

  .offset-md-11 {
    margin-left: 91.666667%; } }
@media (min-width: 1024px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .order-lg-first {
    -ms-flex-order: -1;
    order: -1; }

  .order-lg-last {
    -ms-flex-order: 13;
    order: 13; }

  .order-lg-0 {
    -ms-flex-order: 0;
    order: 0; }

  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1; }

  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2; }

  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3; }

  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4; }

  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5; }

  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6; }

  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7; }

  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8; }

  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9; }

  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10; }

  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11; }

  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12; }

  .offset-lg-0 {
    margin-left: 0; }

  .offset-lg-1 {
    margin-left: 8.333333%; }

  .offset-lg-2 {
    margin-left: 16.666667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .offset-lg-4 {
    margin-left: 33.333333%; }

  .offset-lg-5 {
    margin-left: 41.666667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .offset-lg-7 {
    margin-left: 58.333333%; }

  .offset-lg-8 {
    margin-left: 66.666667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .offset-lg-10 {
    margin-left: 83.333333%; }

  .offset-lg-11 {
    margin-left: 91.666667%; } }
.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-table {
  display: table !important; }

.d-table-row {
  display: table-row !important; }

.d-table-cell {
  display: table-cell !important; }

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important; }

.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important; }

@media (min-width: 600px) {
  .d-md-none {
    display: none !important; }

  .d-md-inline {
    display: inline !important; }

  .d-md-inline-block {
    display: inline-block !important; }

  .d-md-block {
    display: block !important; }

  .d-md-table {
    display: table !important; }

  .d-md-table-row {
    display: table-row !important; }

  .d-md-table-cell {
    display: table-cell !important; }

  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important; }

  .d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }
@media (min-width: 1024px) {
  .d-lg-none {
    display: none !important; }

  .d-lg-inline {
    display: inline !important; }

  .d-lg-inline-block {
    display: inline-block !important; }

  .d-lg-block {
    display: block !important; }

  .d-lg-table {
    display: table !important; }

  .d-lg-table-row {
    display: table-row !important; }

  .d-lg-table-cell {
    display: table-cell !important; }

  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important; }

  .d-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }
@media print {
  .d-print-none {
    display: none !important; }

  .d-print-inline {
    display: inline !important; }

  .d-print-inline-block {
    display: inline-block !important; }

  .d-print-block {
    display: block !important; }

  .d-print-table {
    display: table !important; }

  .d-print-table-row {
    display: table-row !important; }

  .d-print-table-cell {
    display: table-cell !important; }

  .d-print-flex {
    display: -ms-flexbox !important;
    display: flex !important; }

  .d-print-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }
.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important; }

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important; }

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important; }

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important; }

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important; }

.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important; }

.flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important; }

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important; }

.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important; }

.flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important; }

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important; }

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important; }

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important; }

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important; }

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important; }

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important; }

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important; }

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important; }

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important; }

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important; }

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important; }

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important; }

.align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important; }

.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important; }

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important; }

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important; }

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important; }

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important; }

@media (min-width: 600px) {
  .flex-md-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important; }

  .flex-md-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important; }

  .flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }

  .flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }

  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }

  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; }

  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }

  .flex-md-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important; }

  .flex-md-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important; }

  .flex-md-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important; }

  .flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important; }

  .flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important; }

  .justify-content-md-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important; }

  .justify-content-md-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important; }

  .justify-content-md-center {
    -ms-flex-pack: center !important;
    justify-content: center !important; }

  .justify-content-md-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }

  .justify-content-md-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important; }

  .align-items-md-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important; }

  .align-items-md-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important; }

  .align-items-md-center {
    -ms-flex-align: center !important;
    align-items: center !important; }

  .align-items-md-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important; }

  .align-items-md-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important; }

  .align-content-md-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important; }

  .align-content-md-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important; }

  .align-content-md-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important; }

  .align-content-md-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important; }

  .align-content-md-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important; }

  .align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important; }

  .align-self-md-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important; }

  .align-self-md-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important; }

  .align-self-md-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important; }

  .align-self-md-center {
    -ms-flex-item-align: center !important;
    align-self: center !important; }

  .align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important; }

  .align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important; } }
@media (min-width: 1024px) {
  .flex-lg-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important; }

  .flex-lg-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important; }

  .flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }

  .flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }

  .flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }

  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; }

  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }

  .flex-lg-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important; }

  .flex-lg-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important; }

  .flex-lg-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important; }

  .flex-lg-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important; }

  .flex-lg-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important; }

  .justify-content-lg-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important; }

  .justify-content-lg-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important; }

  .justify-content-lg-center {
    -ms-flex-pack: center !important;
    justify-content: center !important; }

  .justify-content-lg-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }

  .justify-content-lg-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important; }

  .align-items-lg-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important; }

  .align-items-lg-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important; }

  .align-items-lg-center {
    -ms-flex-align: center !important;
    align-items: center !important; }

  .align-items-lg-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important; }

  .align-items-lg-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important; }

  .align-content-lg-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important; }

  .align-content-lg-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important; }

  .align-content-lg-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important; }

  .align-content-lg-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important; }

  .align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important; }

  .align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important; }

  .align-self-lg-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important; }

  .align-self-lg-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important; }

  .align-self-lg-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important; }

  .align-self-lg-center {
    -ms-flex-item-align: center !important;
    align-self: center !important; }

  .align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important; }

  .align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important; } }
/*# sourceMappingURL=bootstrap-grid.css.map */
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; }
.card ._image img {
  width: 100%; }
.card ._extra {
  border-top: 1px solid #DEDEDE; }

/*# sourceMappingURL=application.css.map */
